<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Configuration sections -->
  <configSections>
    <!-- Section log4net -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DistributedServices.MainModule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DistributedServices.MainModule.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="4.0"/>
  </startup>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <!--Web general Configuration-->
  <system.web>
    <!-- The <customErrors> section enables configuration of what to do when an
  unhandled error occurs during the execution of a request.
  Specifically, it enables developers to configure HTML error pages to be
  displayed in place of a error stack trace.
  Mode = "On"         => Set custom error page for all users
  Mode = "Off"        => Default page error (exception info) will be used
  Mode = "RemoteOnly" => Set custom error page for remote clients and 
                      exception details for local requests -->
    <!-- InternalError is showed when an Unhandled exception is raised -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Pages/Errors/InternalError.aspx"></customErrors>
    <!-- Cultural preferences of the Web site -->
    <globalization culture="auto" uiCulture="auto" />
    <!-- Set compilation debug="true" to insert debugging symbols into the
  compiled page. Because this affects performance, set this value to true only
  during development. -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
  <!-- General application settings -->
  <appSettings>
    <add key="websiteName" value="IWClient" />
    <add key="pathFile" value="C:\resultados\form.xml"/>
  </appSettings>
  <!-- Log4Net configuration -->
  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="c:\resultados\log-file.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date %-5level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <applicationSettings>
    <DistributedServices.MainModule.Web.Properties.Settings>
      <setting name="IWClient_applicationURL" serializeAs="String">
        <value>localhost:34583</value>
      </setting>
    </DistributedServices.MainModule.Web.Properties.Settings>
  </applicationSettings>
</configuration>
